---
import Social from './Social.astro';
---

<footer>
	<!-- <a href="https://paquita.masto.host/@th0maswaschosen">mastodon</a> -->
	<Social platform="twitter" username="astrodotbuild" />
	<Social platform="github" username="moronosoutotomas" />
	<Social platform="youtube" username="astrodotbuild" />
</footer>

<style>
	footer {
		display: flex;
		gap: 1rem;
		margin-top: 2rem;
	}
</style>
